<!DOCTYPE html>
<html lang="pt-br">

<style>
    .card-pygal {
        margin: auto;
        height: 600px;
        width: 50%;


    }
</style>

<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="refresh" content="6">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>SafeGas</title>
</head>

<body>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                SafeGas
            </div>

            <div class="card-body">
                <h5 class="card-title">Sistema de Monitoramento de Emissão de Gases Poluentes</h5>
                <div class="card-pygal">
                    <p> Gráfico</p>
                    <object type="image/svg+xml" data="{{image_url}}">
                        Your browser does not support SVG
                    </object>
                </div>
                <table class="table table-striped ">
                    <thead>
                        <tr>
                            <th scope="col">Sensor</th>
                            <th scope="col">Leitura</th>

                            <th scope="col">Cenário</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for leitura in leituras %}
                        <tr>
                            <th scope="row">{{leitura.nome}}</th>
                            <td>{{ leitura.read }}</td>

                            <td>{{ leitura.cenario }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>



            </div>

        </div>


    </div>



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>